# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
!/tools/bin

# NuGet packages
# disabled for now
# packages
packages/

#Visual Studio 15 exception
.vs
.vscode

#Mac DS Store files
*.DS_Store
.DS_Store

#Package lock file
Console.Client/package-lock.json